@model Application.Web.ViewModels.CreateThreadViewModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Start Thread</div>
        <div class="panel-body">
            <form action="~/Forum/CreateThread" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="fullname">Heading:</label>
                    <input type="text" class="form-control" id="heading" name="heading">
                </div>
                <div class="form-group">
                    <label for="fullname">Body:</label>
                    <input type="text" class="form-control" id="body" name="body">
                </div>
                <div class="form-group">
                    <label for="topic" name="topic">Topic:</label>
                    @foreach (var topic in Model.TopicOptions)
                    {
                        <label class="checkbox-inline"><input type="radio" id="topic_@topic.Value" name="topic" checked="@topic.Checked" value="@topic.Value">@topic.Text</label>
                    }
                </div>
                <div class="form-group">
                    <label for="topic" name="topic">Topic:</label>
                    @foreach (var category in Model.CategoryOptions)
                    {
                        <label class="checkbox-inline"><input type="checkbox" id="category_@category.Value" name="categories" checked="@category.Checked" value="@category.Value">@category.Text</label>
                    }
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>