@model Application.Web.ViewModels.CreateThreadViewModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Start Thread</div>
        <div class="panel-body">
            <form action="~/Forum/CreateThread" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="fullname">Heading:</label>
                    <input type="text" class="form-control" id="heading" name="heading" value="@Model.Heading">
                </div>
                <div class="form-group">
                    <label for="fullname">Body:</label>
                    <input type="text" class="form-control" id="body" name="body" value="@Model.Body">
                </div>
                <div class="form-group">
                    <label for="topic">Topic:</label>
                    @foreach (var topic in Model.TopicOptions)
                    {
                        @if (topic.NameInUrl == Model.Topic)
                        {
                            <label class="checkbox-inline"><input type="radio" id="topic_@topic.NameInUrl" name="topic" value="@topic.NameInUrl" checked>@topic.DisplayName</label>
                        }
                        else
                        {
                            <label class="checkbox-inline"><input type="radio" id="topic_@topic.NameInUrl" name="topic" value="@topic.NameInUrl">@topic.DisplayName</label>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="categories">Categories:</label>
                    @foreach (var category in Model.CategoryOptions)
                    {
                        @if (Model.Categories != null && Model.Categories.Contains(category.NameInUrl))
                        {
                            <label class="checkbox-inline"><input type="checkbox" id="category_@category.NameInUrl" name="categories" value="@category.NameInUrl" checked>@category.DisplayName</label>
                        }
                        else
                        {
                            <label class="checkbox-inline"><input type="checkbox" id="category_@category.NameInUrl" name="categories" value="@category.NameInUrl">@category.DisplayName</label>
                        }
                    }
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>