@using Application.Web.ViewModels
@model ForumIndexViewModel

@{
    Layout = "_Layout";
}

<br />
<br />
<br />
<br />

<div class="container">
    <div>
        <form action="~/Forum/Index" method="get" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="query" value="@Model.Pagination.MoreParametersAndValues["query"]" />
            </div>
            <div class="form-group">
                <label for="topic">Topic:</label>

                @if (Model.Topic == "all")
                {
                    <label class="checkbox-inline"><input type="radio" id="topic_all" name="topic" value="all" checked>All</label>
                }
                else
                {
                    <label class="checkbox-inline"><input type="radio" id="topic_all" name="topic" value="all">All</label>
                }

                @foreach (var topic in Model.TopicOptions)
                {
                    @if (topic.NameInUrl == Model.Topic)
                    {
                        <label class="checkbox-inline"><input type="radio" id="topic_@topic.NameInUrl" name="topic" value="@topic.NameInUrl" checked>@topic.DisplayName</label>
                    }
                    else
                    {
                        <label class="checkbox-inline"><input type="radio" id="topic_@topic.NameInUrl" name="topic" value="@topic.NameInUrl">@topic.DisplayName</label>
                    }
                }
            </div>
            <div class="form-group">
                <label for="categories">Categories:</label>
                @foreach (var category in Model.CategoryOptions)
                {
                    @if (Model.Categories != null && Model.Categories.Contains(category.NameInUrl))
                    {
                        <label class="checkbox-inline"><input type="checkbox" id="category_@category.NameInUrl" name="checkboxCategories" value="@category.NameInUrl" checked>@category.DisplayName</label>
                    }
                    else
                    {
                        <label class="checkbox-inline"><input type="checkbox" id="category_@category.NameInUrl" name="checkboxCategories" value="@category.NameInUrl">@category.DisplayName</label>
                    }
                }
                <input type="hidden" name="categories" id="categories" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Post By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thread in Model.Pagination.ItemsToDisplay)
                {
                    <tr>
                        <td>@thread.Heading</td>
                        <td>@thread.User.FirstName @thread.User.LastName</td>
                        <td>@thread.DateTime.ToString("dddd, dd MMMM yyyy HH:mm")</td>
                        <td>
                            <form action="~/Forum/Thread" method="get">
                                <button type="submit" name="threadId" value="@thread.Id" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span></button>
                            </form>
                        </td>
                        <td>
                            @if (thread.User.Email == User.Identity.Name)
                            {
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_@thread.Id"><span class="glyphicon glyphicon-trash"></span></button>

                                <!-- Modal -->
                                <div id="myModal_@thread.Id" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Are you sure you want to delete the thread: @thread.Heading?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="inline-block">
                                                    <form action="~/Thread/Delete" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" name="threadId" value="@thread.Id" class="btn btn-link jsBtnDelete"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </form>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form action="~/Forum/CreateThread" method="get">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add New</button>
    </form>

    <br /><br />
    @await Html.PartialAsync("_Pagination", Model.Pagination)
    <br /><br />
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var categoryCheckboxes = document.getElementsByName("checkboxCategories");

        for (var i = 0; i < categoryCheckboxes.length; i++) {
            categoryCheckboxes[i].onchange = function () {
                var hdnCategories = document.getElementById("categories");
                hdnCategories.value = "";

                var paramValue = "";

                for (var i = 0; i < categoryCheckboxes.length; i++) {
                    if (categoryCheckboxes[i].checked) {
                        if (paramValue.length > 0) {
                            paramValue = paramValue + "+";
                        }

                        paramValue = paramValue + categoryCheckboxes[i].value;
                    }
                }

                hdnCategories.value = paramValue;
            };
        }
    });
</script>