@using Application.Domain.ApplicationEntities
@using Application.Web.ViewModels
@model ViewModelWithPagination<Thread, Post>
@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />

<div class="container">
    <div>
        <h1>@Model.PageData.Heading</h1>
        <h3>By @Model.PageData.User.FirstName @Model.PageData.User.LastName @Model.PageData.DateTime</h3>
        <h4>@Model.PageData.Body</h4>
    </div>
    <div class="display: flex;">
        <button name="btnLike" id="btnLike_@Model.PageData.Id" value=@Model.PageData.Id><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <span id="likeAvatarDisplaySpan1_@Model.PageData.Id"><img src="" id="likeAvatarDisplay1_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:1;" /></span>
        <span id="likeAvatarDisplaySpan2_@Model.PageData.Id"><img src="" id="likeAvatarDisplay2_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:0;" /></span>
        <span id="likeAvatarDisplaySpan3_@Model.PageData.Id"><img src="" id="likeAvatarDisplay3_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:-1;" /></span>
        <span name="spnLikeCount" id="spnLikeCount_@Model.PageData.Id" value="@Model.PageData.Id"></span>
    </div>
    <div>
        <form action="/Forum/CreatePost" method="post">
            @Html.AntiForgeryToken()
            <input type="text" placeholder="Enter your comment here" name="content" />
            <input type="hidden" name="threadId" value="@Model.PageData.Id" />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <br /><br />
    <div>
        @foreach (var post in Model.PaginationData.ItemsToDisplay)
        {
            <b>@post.User.FirstName @post.User.LastName commented on @post.DateTime</b>
            <p>@post.Content</p>
            <hr />
        }
    </div>
    @await Html.PartialAsync("_PaginationWithId", Model.PaginationData)
</div>