@using Application.Domain.ApplicationEntities
@using Application.Web.ViewModels
@model ViewModelWithPagination<Thread, PostWithRepliesViewModel>
@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />

<div class="container">
    <div>
        <h1>@Model.PageData.Heading</h1>
        <h3>By @Model.PageData.User.FirstName @Model.PageData.User.LastName @Model.PageData.DateTime</h3>
        <h4>@Model.PageData.Body</h4>
    </div>
    <div class="display: flex;">
        <button name="btnReaction" id="btnReaction_@Model.PageData.Id" value=@Model.PageData.Id><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <span id="reactionAvatarDisplaySpan1_@Model.PageData.Id"><img src="" id="reactionAvatarDisplay1_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:1;" /></span>
        <span id="reactionAvatarDisplaySpan2_@Model.PageData.Id"><img src="" id="reactionAvatarDisplay2_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:0;" /></span>
        <span id="reactionAvatarDisplaySpan3_@Model.PageData.Id"><img src="" id="reactionAvatarDisplay3_@Model.PageData.Id" style="border-radius:50%;width:30px;height:30px;z-index:-1;" /></span>
        <span name="spnReactionCount" id="spnReactionsCount_@Model.PageData.Id" value="@Model.PageData.Id"></span>
    </div>
    <div>
    </div>
    <br /><br />
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdnThreadId" name="threadId" value="@Model.PageData.Id" />
    <div id="topLevelPosts">
        @foreach (var post in Model.PaginationData.ItemsToDisplay)
        {
            <div style="margin-left:5%">
                <b>@post.TopLevelPost.User.FirstName @post.TopLevelPost.User.LastName commented on @post.TopLevelPost.DateTime</b>
                <p>@post.TopLevelPost.Content</p>

                <input type="text" id="txtContent_@post.TopLevelPost.Id" placeholder="Enter your comment here" name="content" />
                <input type="hidden" id="hdnParentPostId_@post.TopLevelPost.Id" name="ParentPostId" value="@post.TopLevelPost.Id" />
                <button class="btn btn-primary" onclick="submitPost('@post.TopLevelPost.Id')">Submit</button>
            </div>

            <div id="replies_@post.TopLevelPost.Id">
                @foreach (var reply in post.Replies.ItemsToDisplay)
                {
                    <div style="margin-left:@(reply.LevelInHierarchy * 5)%">
                        <b>@reply.User.FirstName @reply.User.LastName commented on @reply.DateTime</b>
                        <p>@reply.Content</p>

                        <input type="text" id="txtContent_@reply.Id" placeholder="Enter your comment here" name="content" />
                        <input type="hidden" id="hdnParentPostId_@reply.Id" name="ParentPostId" value="@reply.Id" />
                        <button class="btn btn-primary" onclick="submitPost('@reply.Id')">Submit</button>
                    </div>
                }
            </div>
            @if (post.Replies.HasMore)
            {
                <div style="margin-left:5%">
                    <input type="hidden" id="hasMoreFrom_@post.TopLevelPost.Id" value="@post.Replies.From" />
                    <input type="hidden" id="hasMoreTake_@post.TopLevelPost.Id" value="@post.Replies.Take" />
                    <button type="button" name="btnLoadMore" id="btnLoadMore_@post.TopLevelPost.Id" value="@post.TopLevelPost.Id">Load More</button>
                </div>
            }
        }
    </div>
    <div>
        <br /><br />
        <h3>Post to this Thread</h3>

        <input type="text" id="txtContent_@Model.PageData.Id" placeholder="Enter your comment here" name="content" />
        <input type="hidden" id="hdnParentPostId_@Model.PageData.Id" name="ParentPostId" value="" />
        <button class="btn btn-primary" onclick="submitPost('@Model.PageData.Id')">Submit</button>
    </div>
    @await Html.PartialAsync("_PaginationWithId", Model.PaginationData)
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setLoadMore();
        setReaction();
    });
</script>